@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/AnonymousPro-Regular.ttf);
}

.header,
.main,
.footer {
    padding: 0px 370px;
    /* padding: 0px 110px 0px 120px; */
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid #A1A6B4;
}

.header__logo {
    width: 213px;
    height: 63px;
    padding: 30px 0px 16px;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: "Anonymous Pro", sans-serif;
}

a,
p,
h3,
h2 {
    font-weight: 700px;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 25px;
    justify-content: flex-end;

}

.header__nav {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}


.header__links {
    box-sizing: border-box;
    font-family: "Anonymous Pro", sans-serif;
    width: 100%;
    justify-content: center;
}

.footer__links {
    box-sizing: border-box;
    font-family: "Anonymous Pro", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer__links a {
    color: white;
}

.footer__logo {
    display: flex;
    width: 100%;
    padding: 30px 0px 16px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #E6E8EC66;
}

.footer {
    display: flex;
    background-color: #121723;
}

.footer__nav {
    display: flex;
    border-bottom: 2px solid #E6E8EC66;

}

.under__footer {
    display: flex;
    justify-content: center;
}

body {
    font-family: "Anonymous Pro", sans-serif;
    margin: 0 auto;
}

.main {
    width: 100%;
    padding-bottom: 32px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

h2 {
    font-size: 48px;
    margin: 25px 0px 24px 0px;
}

.cards {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
}


.card img {
    width: 371px;
    height: 254px;
    border-radius: 12px;
}

.card {
    background-color: white;
    border-radius: 12px;
    width: 371px;
    transition: box-shadow ease-in-out 200ms, transform ease-in-out 200ms;
}

.card__info {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

h3,
p {
    margin: 0;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 20px;
}

.under__footer p {
    font-size: 16px;
    color: #A1A6B4;
}

.under__footer {
    padding: 24px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.card:active {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:1879px) {

    .header,
    .main,
    .footer {
        padding: 0px 351px
            /* padding: 0px 110px 0px 120px; */
    }

    .main {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 1440px) {

    .header,
    .main,
    .footer {
        padding: 0px 150px;
        /* padding: 0px 110px 0px 120px; */
    }

    .main {
        padding-bottom: 32px;
    }

    .card {
        width: 364px;
    }

    .card img {
        width: 364px;
    }
}

@media screen and (max-width: 1024px) and (min-width:769px) {

    .header,
    .main,
    .footer {
        padding: 0px 32px;

    }

    .main {
        align-items: center;
    }

    .cards {
        align-items: flex-start;
        padding-bottom: 32px;
    }

    .card {
        width: 304px;
        border: 0px;
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }

}

@media screen and (max-width: 768px) and (min-width:571px) {

    .header,
    .main,
    .footer {
        padding: 0px 24px;
    }

    .header__nav {
        justify-content: space-between;
    }

    .header__links {
        display: flex;
        width: auto;
    }

    ul {
        padding: 0;
    }

    .main {
        padding: 0px 24px;
        align-items: center;
    }

    .subtitle {
        display: flex;
    }

    h2 {
        font-size: 36px;
        margin: 0px 0px 32px 0px;
    }

    .content {
        padding: 32px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .card {
        box-sizing: border-box;
        width: 343px;
    }

    .card img {
        width: 333px;
        height: auto;
    }

    .footer__nav {
        justify-content: space-between;
    }

    .footer__logo {
        padding: 30px 0px;
    }
}

@media screen and (max-width:570px) and (min-width:426px) {

    .header,
    .main,
    .footer {
        padding: 0;
    }

    ul {
        justify-content: center;
    }

    .header__nav {
        flex-direction: column;
    }

    .main {
        padding: 0px 16px;
    }

    h2 {
        font-size: 36px;
        margin: 0px 0px 24px 0px;
    }

    .content {
        padding: 32px 0px;
        align-items: center;
    }

    .subtitle {
        width: 65%;
        justify-content: flex-start;
    }

    .cards {
        justify-content: center;
    }

    .card {
        box-sizing: border-box;
        width: 343px;
    }

    .card img {
        width: 333px;
        height: auto;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__logo {
        justify-content: center;
        padding: 30px 0px 0px;
    }
}

@media screen and (max-width:425px) {

    .header,
    .main,
    .footer {
        padding: 0;
    }

    ul {
        justify-content: center;
    }

    .header__nav {
        flex-direction: column;
    }

    .main {
        align-items: center;
        padding: 0px 16px;
    }

    h2 {
        width: 343px;
        font-size: 36px;
        margin: 0px 0px 24px 0px;
    }

    .content {
        padding: 32px 0px;
    }

    .subtitle {
        width: 70%;
        justify-content: flex-start;
    }

    /* .cards {
        justify-content: center;
    } */

    .cards {
        width: 343px;
    }

    .card {
        box-sizing: border-box;
        width: 343px;
    }

    .card img {
        width: 333px;
        height: auto;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__logo {
        justify-content: center;
        padding: 30px 0px 0px;
    }
}

@media screen and (max-width: 375px) {

    .header,
    .main,
    .footer {
        padding: 0px 16px;
    }

    ul {
        justify-content: center;
    }

    .header__nav {
        flex-direction: column;
    }

    .main {
        padding: 0px 16px;
    }

    .subtitle {
        justify-content: flex-start;
    }

    h2 {
        font-size: 36px;
        margin: 0px 0px 24px 0px;
    }

    .content {
        padding: 32px 0px;
        align-items: flex-start;
    }

    .card {
        box-sizing: border-box;
        width: 343px;
    }

    .card img {
        width: 333px;
        height: auto;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__logo {
        justify-content: center;
        padding: 30px 0px 0px;
    }
}