@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/AnonymousPro-Regular.ttf);
}


body {
    font-family: "Anonymous Pro", sans-serif;
    margin: 0 auto;
}

.header,
.main,
.footer {
    padding: 0px 110px 0px 120px;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid #A1A6B4;
}

.header__nav {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.header__logo {
    width: 213;
    height: 63;
    padding: 30px 0px 16px;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: "Anonymous Pro", sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 25px;
    justify-content: flex-end;
}

.header__links {
    box-sizing: border-box;
    font-family: "Anonymous Pro", sans-serif;
    width: 100%;
    justify-content: center;
}

.footer__links {
    box-sizing: border-box;
    font-family: "Anonymous Pro", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer__links a {
    color: white;
}

.footer__logo {
    display: flex;
    width: 100%;
    padding: 30px 0px 16px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #E6E8EC66;
}

.footer {
    display: flex;
    background-color: #121723;
}

.footer__nav {
    display: flex;
    border-bottom: 2px solid #E6E8EC66;

}

.under__footer {
    display: flex;
    justify-content: center;
}

.under__footer p {
    font-size: 16px;
    color: #A1A6B4;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 150px 48px 150px;
    background-color: #F1F1F1;

}

.main__card {
    width: 100%;
    display: flex;
    padding: 48px;
    border-radius: 50px;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--white-100, #FFF);

}

.main__card__img {
    width: 100%;
}

h3,
p {
    padding-left: 0px;
    margin: 0px;
}

.card__info {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

/* p {
    margin-bottom: 20px;
} */

h1,
h2,
p {
    font-weight: 400;
}

.main__card__info {
    gap: 24px;
}

.main__card__info__desc {
    display: flex;
    gap: 32px;
}

.main__card__info__desc__parameters__header,
.main__card__info__text {
    margin: 0px;
}

.main__card__info__title {

    font-family: Anonymous Pro;
    font-size: 48px;


}

.main__card__info__subtitle {

    font-family: Anonymous Pro;
    font-size: 36px
        /* 36px */
}

.main__card__info__text {
    width: 506px;

    font-family: Anonymous Pro;
    font-size: 20px;
    line-height: 28px;
    /* 140% */
}

.main__card__info__desc__parameters {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 0;
}

.main__card__info__desc__parameters__header {
    font-family: Anonymous Pro;
    font-size: 30px;
    font-weight: 400;

}

.main__card__info__desc__parameters ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul h3,
ul span {
    padding-bottom: 24px;
    border-bottom: 1px solid #121723;
}

ul span {
    display: flex;
    justify-content: space-between;
}

.main__card__info__desc__parameters__info {

    font-family: Anonymous Pro;
    font-size: 20px;

}

.similar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 110px 32px 110px;
    background-color: #F1F1F1;
}

.similar__title {
    display: flex;
    justify-content: flex-start;
}

.similar__title h2 {
    color: var(--black, #121723);
    margin-top: 0px;
    font-family: Anonymous Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 48px */
}

.cards {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
}

.similar__cards {
    display: flex;
    gap: 24px;
}

.similar__cards .card img {
    width: 100%;
    height: 254px;
    border-radius: 12px;
}

.similar__cards .card {
    background-color: white;
    border-radius: 12px;
    width: 364px;
    transition: box-shadow ease-in-out 200ms, transform ease-in-out 200ms;
}

.similar__cards .card__info {
    padding: 0px 32px 20px;
    margin: 0;
}

.under__footer {
    padding: 24px;
}

.similar__cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.similar__cards .card:active {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .main {
        padding: 24px 110px 0px 120px;
    }

    .similar {
        padding: 24px 72px;
    }

    .footer {
        padding: 0px 72px;
    }

    .similar__card img {
        height: auto;
    }

    .main__card__info__desc__parameters__header {
        display: flex;
        justify-content: center;
    }

    .main__card__info__desc__parameters__info span {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {

    .header,
    .main,
    .footer {
        padding: 0px 24px;
    }


    ul {
        justify-content: flex-end;
        padding: 0px;
    }

    .main {
        padding: 32px 16px;
    }

    .main__card {
        box-sizing: border-box;
        border-radius: 25px;
        padding: 24px;
    }

    .main__card__info__title {
        font-size: 32px;
    }

    .main__card__info__subtitle {
        font-size: 20px;
    }

    .main__card__info__desc {
        flex-direction: column;
    }

    .main__card__info__text {
        width: 100%;
        font-size: 16px;
    }

    .main__card__info__desc__parameters span {
        font-size: 16px;
    }

    .main ul {
        gap: 0px;
    }

    ul span {
        padding: 24px 0px;
    }

    h2 {
        font-size: 36px;
        margin: 0px 0px 24px 0px;
    }

    .content {
        padding: 32px 0px;
    }

    .card__title {
        font-size: 20px;
    }

    .card__text {
        font-size: 18px;
    }

    .card img {
        width: 333px;
        height: auto;
    }

    .main,
    .similar {
        padding: 24px 24px;
    }

    .similar {
        align-items: flex-start;
        padding: 0px 24px 24px 24px;
    }

    .similar__cards,
    .similar__title {
        justify-content: center;
    }

    .similar__cards {
        width: 720px;
    }

    .similar__title {
        width: 100%;
        justify-content: flex-start;
    }

    .similar__title h2 {
        font-size: 36px;
    }


    .footer__logo {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {

    .header,
    .main,
    .footer {
        padding: 0;
    }

    .header__nav {
        flex-direction: column;
    }

    ul {
        justify-content: center;
        padding: 0px;
    }

    .main {
        padding: 32px 16px;
    }

    .main__card {
        box-sizing: border-box;
        border-radius: 25px;
        padding: 24px;
    }

    .main__card__info__title {
        font-size: 32px;
    }

    .main__card__info__subtitle {
        font-size: 20px;
    }

    .main__card__info__desc {
        flex-direction: column;
    }

    .main__card__info__text {
        width: 100%;
        font-size: 16px;
    }

    .main__card__info__desc__parameters span {
        font-size: 16px;
    }

    .main ul {
        gap: 0px;
    }

    ul span {
        padding: 24px 0px;
    }

    h2 {
        font-size: 36px;
        margin: 0px 0px 24px 0px;
    }

    .content {
        padding: 32px 0px;
    }

    .similar__cards.card {
        box-sizing: border-box;
        width: 393px;
    }

    .similar__cards .card {
        box-sizing: border-box;
        width: auto;
    }

    /* .card img {
        width: 333px;
        height: auto;
    } */

    .similar {
        align-items: flex-start;
        padding: 0px 16px 24px 16px;
    }

    .similar__cards,
    .similar__title {
        justify-content: center;
    }

    .similar__cards {
        flex-direction: column;
    }

    .similar__cards .card img {
        height: auto;
    }

    .similar__title {
        width: 100%;
        justify-content: flex-start;
    }

    .similar__title h2 {
        font-size: 32px;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__logo {
        justify-content: center;
        padding: 30px 0px 0px;
    }
}

@media screen and (max-width:375px) {
    .similar__cards.card {
        box-sizing: border-box;
        width: 343px;
    }
}